.contacto
{ display: flex;
gap: 24px;
}
.contacto div
{ width: 100%;   
}
.datos p
{
    font-size: 14px;
}
.datos ul li
{
    font-size: 13px;
}
.datos
{
    position: relative;
    margin-left: 500px;
    bottom: 610px;
    line-height: 1.5;
    
}
.formulario p {
display:grid;
width: 200px;
align-items: center;
}
.formulario p label {
    min-width: 80px;
    
}
.formulario p label
{
    display: flex;
    align-items: center;
    width: 150px;
}

.formulario p:nth-child(4) {
    align-items: start;
    
}
.formulario input
{
    background-color: rgb(219, 216, 216);
    
}
.formulario textarea {
    resize: none;
    height: 150px;
    width: 400px;
    background-color: rgb(219, 216, 216);
}

.formulario input[type="submit"] {
    background-color: #6da9ed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 5rem;
    cursor: pointer;
}
.formulario input[type="submit"]:hover {
    background-color: #2e64a1;
}
.formulario h2
{
    text-align: start;
}
.formulario
{
    border-radius: 1px;
    border: solid;
    padding: 8px;
}